body
{
    background-color: #989e8b;
}

#logout
{
    width: 100px;
    height: 40px;
    margin-left: 90%;
    margin-top: 15px;
    background-color: white;
}

#room_name
{
    width: 30%;
}
